/* Write your CSS code here */
.mini-card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  border: 2px solid;
  border-color: #00e7ff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.image1 {
  width: 25px;
  height: 25px;
  align-self: center;
}
.logo {
  display: flex;
  flex-direction: row;
}
